@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-VariableFont_wght.ttf');
}

.accom {
    color: #0065FC;
    font-family: Raleway;
    text-decoration: none;
    font-size: 20px;
}

.activities {
  color: black;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-size: 20px;
}

.sign {
  color: #0065FC;
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: bold; 
  font-size: 20px; 
}

.nav {
  list-style: none;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  align-content: space-around;
  flex-wrap: wrap;
}
a {
    text-decoration: none;
    font-family: Raleway, sans-serif;
    color: black;
}
a:hover {
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
}

.navlist {
  padding: 40px;
} 

.logo {
    margin-bottom: 30px;
}

#tagline {
    font-family: Raleway, sans-serif;
    font-weight: bolder;
    font-size:30px;
    padding: 0px;
    margin: 0px;
    text-shadow: 1px 0px black;
}

#where {
    font-family: Raleway, sans-serif;
    font-weight :normal;
    padding: 0px;
    margin: 5px 5px 15px 0px;
}

.search {
    font-family: Raleway, sans-serif;
    font-size: 30px;
    color: black;
    display: flex;
    justify-content: flex-start;
    align-content: space-around;
    text-justify: center;
    text-align: center;
}
.map-pin {
  color: black;
  background-color:#eeeeee;
  padding: 15px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  font-size: 20px;
  text-align: center;
  text-justify: center;
}

#search {
    box-sizing: border-box;
    color: black;
    font-family: Raleway, sans-serif;
    font-weight: bolder;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border: 1px solid #eeeeee;
    font-size: 28px;
}
.label {
    color: white;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color:#0065FC;
    padding: 15px;
    text-align: center;
    text-justify: center;
    border-right: 1px solid #eeeeee;
    border-bottom-right-radius: 25%;
    border-top-right-radius: 25%; 
}

strong {
    color: black;
    font-family: Raleway, sans-serif;
    font-size: 20px;
    text-shadow: 1px 0px black;
}

.money-bill {
    color: #0065FC;
    border: 1px solid #DEEBFF;
    background-color: #DEEBFF;
    padding: 20px;
    border-radius: 80px;
}
.low {
    border: 2px #eeeeee;
    border-style: solid solid solid hidden;
    padding: 19px 25px 17px 0px;
    border-radius: 80px;
    font-weight: bold;
    font-size: 20px;
    margin: 1%;
    text-shadow: 1px 0px black;
}
.heart {
    color: #0065FC;
    border: 1px solid #eeeeee;
    background-color: #DEEBFF;
    padding: 20px;
    border-radius: 50%;
}
.romance {
    border: 2px #eeeeee;
    border-style: solid solid solid hidden;
    padding: 19px 25px 17px 0px;
    border-radius: 80px;
    font-weight: bold;
    font-size: 20px;
    margin: 1%;
    text-shadow: 1px 0px black;
}
.child {
    color: #0065FC;
    border: 1px solid #eeeeee;
    background-color: #DEEBFF;
    padding: 20px 25px 20px 25px;
    border-radius: 50%;
}
.family {
    border: 2px #eeeeee;
    border-style: solid solid solid hidden;
    padding: 19px 25px 17px 0px;
    border-radius: 80px;
    font-weight: bold;
    font-size: 20px;
    margin: 1%;
    text-shadow: 1px 0px black;
}
.dog {
    color: #0065FC;
    border: 1px solid #eeeeee;
    background-color: #DEEBFF;
    padding: 20px;
    border-radius: 50%;
}
.pet {
    border: 2px #eeeeee;
    border-style: solid solid solid hidden;
    padding: 19px 25px 17px 0px;
    border-radius: 80px;
    font-weight: bold;
    font-size: 20px;
    margin: 1%;
    text-shadow: 1px 0px black;
}
.info-circle {
    color: white;
    background-color: #0065FC;
    border: 2px solid #eeeeee; /* unable to get border to show properly ask Tim */
    border-radius: 50%;
}
.info {
    font-family: Raleway, sans-serif;
    color: black;
    margin: 15px 0px 15px 0px;
    font-size: 19px;
}
#info {
    margin: 22px;
}
.hotel-img {
    width: 280px; 
    height: 130px; 
    object-fit: cover;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.achead {
    font-size: 28px;
    font-weight: bolder;
    text-shadow: 1px 0px black;
    padding: 10px 0px 10px 10px;
    margin: 5px;
}
.name{
    font-size: 18px;
    font-weight: bold;
    padding: 1px 0px 5px 10px;
    text-justify: left;
    margin: 0px;
    text-shadow: 1px 0px black;
}
.price {
    font-size: 15px;
    text-justify: left;
    padding: 1px 0px 5px 10px;
    margin: 0px;
}
.amount {
    font-size: 15px;
}

.rating{
    padding: 1px 0px 0px 10px;
}

.hotel {
    color: black;
    box-sizing: border-box;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    font-family: Raleway, sans-serif;
    padding: 10px;
    max-width: 1000px;
}
.hotel-flex {
    display: flex;
    justify-content: space-around;
    justify-items: flex-start;
    flex-flow: row wrap;
    align-items: flex-start;
}
.aubergela {
    height: 220px;
    width: 280px;
    padding: 3px;
    border: 1px solid white;
    background-color:white;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.duport {
    height: 220px;
    width: 280px;
    padding: 3px;
    border: 1px solid white;
    background-color:white;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.les{
    height: 220px;
    width: 280px;
    padding: 3px;
    border: 1px solid white;
    background-color:white;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.lamer {
    height: 220px;
    width: 280px;
    padding: 3px;
    border: 1px solid white;
    background-color:white;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.panier {
    height: 220px;
    width: 280px;
    padding: 3px;
    border: 1px solid white;
    background-color:white;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.chez {
    height: 220px;
    width: 280px;
    padding: 3px;
    border: 1px solid white;
    background-color:white;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.show-more {
    font-family: Raleway, sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-shadow: 1px 0px black;
    width: 1000px;
    padding: 20px;
}
.flex {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    flex-flow: row wrap;
}
.pop-img {
    width: 120px;
    height: 130px;
}
.morning {
    display : flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    height: 220px;
    width: 280px;
    padding: 3px;
    border: 1px solid white;
    background-color:white;
    border-radius: 30px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.blue-star {
    font-size: 10px;
    color: #0065FC;
}
.grey-star {
    font-size: 10px;
    color: #eeeeee;
}
.popular {
    color: black;
    box-sizing: border-box;
    background-color: #eeeeee;
    border: 1px solid #eeeeee;
    border-radius: 30px;
    font-family: Raleway, sans-serif;
    padding: 20px;
    max-width: 800px;
}